<!--                  

BODY {	
		/*		
        background: #01305A url('../images/login_background.png') no-repeat;
        background-attachment: fixed;
		background-position: bottom left;
		*/
		background: #01305A url('../images/wallpaper.jpg') no-repeat;
        color: #000000;
        font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
        font-size: 12px;	
		text-align: right;	
		margin-top: 40px;
		padding-top: 40px;
		margin-right: 40px;
		padding-right: 40px;
}

TABLE  { border-spacing: 0px; border-collapse: collapse; }
TD	   { padding: 0px; margin: 0px; }
IMG	   { border: none; }
FORM   { padding: 0px; margin: 0px; }
SELECT { font-size: 12px; }
BR	   { font-size: 7px; }
INPUT  { background-color: #FFFFFF; border: 1px solid #777777; font-size: 13px; }

INPUT.username {
	padding-left: 18px;
	background-image: url('../images/person.gif');
	background-repeat: no-repeat;
}

INPUT.password {
	padding-left: 18px;
	background-image: url('../images/keyring.gif');
	background-repeat: no-repeat;
	color: #BB0000;
}

INPUT.button {
		background: url('../images/bg-button.png') repeat-x;
		color: #000000;
		font-size: 11px;
		font-weight: bold;
		border: 1px solid #666666;
		padding-left: 5px; 
		padding-right: 5px;
}

A,A:visited { color: #FFA500; text-decoration: none; }
A:hover { color: #FFA500; text-decoration: underline; }

DIV.login		{ padding-left: 53%; }
TABLE.login 	{ width: 412px; border-spacing: 0px; }
TD.login-middle { background-color: #FFFFFF; width: 382px; padding-right: 25px; text-align: right; vertical-align: top; font-size: 12px; }
TD.login-sx 	{ background: url('../images/login_middle_sx.png') repeat-y; width: 16px; }
TD.login-dx 	{ background: url('../images/login_middle_dx.png') repeat-y; width: 16px; }

TD.middle A:link    { color: #003366; text-decoration: underline; }
TD.middle A:hover   { color: #003366; }
TD.middle A:visited { color: #003366; }
	
.title { color: #3D598B; font-size: 17px; font-weight: bold; }
.error { color: #CC0000; font-size: 12px; font-weight: bold; }
.note  { position: absolute; left: 10px; top: 87%; color: #DEDEDE; font-size: 11px; text-align: left; }

-->